extends layout

block content
    div(class="flex")
        p(class="bold") Candidature
        p de : #{candidatName}
    if(candidatMail)
        div(class="flex")
            p(class="bold") Joignable 
            p à l'adresse #{candidatMail}
    if(candidatTel)
        div(class="flex")
            p(class="bold") Joignable 
            p au numéro #{candidatTel}
    if(candidatStack)
        div(class="flex")
            p(class="bold") Stack
            p technique : #{candidatStack}
    if(remuneration)
        div(class="flex")
            p(class="bold") Rémunération 
            p souhaitée : #{remuneration}